body {
  background-color: #0d0d0e;
}

.centered-div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  border: 1px solid black;
  background-color: currentColor;
  background-position: center;
  background-image: url(https://static.wixstatic.com/media/67da73_05ce5d18b7004e7389821a5644edbe5d~mv2.gif);
  background-repeat: no-repeat;
}

.centered-div button {
  padding: 5px 15px;
  background-color: #000000;
  color: #dfdfdf;;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  min-width: 250px;
}

.centered-div p {
  color: #ffffff;
  font-size: 12px;
}

button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

table {
  text-align: center;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

td a {
  padding: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

th {
  background-color: white;
  font-weight: 300;
  padding: 12px 10px;
  border-bottom: 3px solid rgb(255, 255, 255);
  color: black;
}
.count-th {
  font-weight: bold;
  border-radius: 0 10px 0 0;
}
.image-th {
  font-weight: bold;
  border-radius: 10px 0 0 0;
}
.info-th {
  font-weight: bold;
}
.image-td {
  width: 20%;
}
.count-in-cart-input {
  padding: 0;
  width: 30px;
  height: 29px;
  border: 1px solid #dfdfdf;
  margin: 0;
  border-radius: 0;
}
.count-in-cart-but {
  color: white;
  pointer-events: none;
  width: 30px;
  height: auto;
  background-color: #0d0d0e;
  border: 0px solid;

}
.less {
  border-radius: 5px 0 0 5px;
}
.more {
  border-radius: 0 5px 5px 0;

}
.count-in-cart {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}
.count-in-cart button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.action a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  color: #000000;
  background-color: #ffffff;
}


.action a:hover {
  color: white;
  background-color: #000000;
}

td {
  max-width: 60px;
  color: #000000;
  background-color: #ffffff;
}

form {
  width: 100%;

  /* Опционально - ограничение максимальной ширины формы */
  margin: 0 auto;
  /* Центрирование формы по горизонтали */
  display: flex;
  flex-direction: column;
}

form p {
  color: #fff;

}

form input,
form button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inp input {
  padding: 0px;
}

table input {
  width: 100%;
  border: 1px solid black;


}

form button {
  //min-width: 470px;
}
form button {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}
#button_buy_cart {
  background-color: rgb(17, 17, 17);
  border-radius: 100px;
  border: 3px solid rgb(74, 74, 74);
  cursor: pointer;
  color: #fff;
  width: 100%;
}
.buttons button {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);
  cursor: pointer;
  color: #fff;
  width: 100%;
}
.order_price {
  color: white;

;
}
.DeliveryInfo div {
  font-weight: 400;
  width: 100%;
  border-bottom: 1px solid #343434;
  padding: 8px;
  transition: 0.2s;
}
.DeliveryInfo div:hover{
  scale: 1.05;
  transition: 0.3s;
}
.DeliveryInfo{
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0 0 0;
  color: white;

}
.DeliveryInfo span{

  display: flex;
}

.DeliveryInfoIco{
  width: 28px;
  height: 28px;
  margin-right: 10px;
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
  filter: invert(0.9);
}
.DeliveryInfoIco:hover {
  opacity: 0.6;
  transition: 0.3s;

}

.log_reg {
  align-items: center;
}
form.log_reg input {
  outline: none;
  padding: 5px 2px;
  width: 244px;
  text-align: center;

}
.order_form {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}
.order_form input {
  width: auto;
  margin: 5px;
}
#button_form_order {

  background-color: rgb(17, 17, 17);
  border-radius: 100px;
  border: 3px solid rgb(74, 74, 74);
  cursor: pointer;
  color: #fff;
  width: 100%;
}

.img_cart {
  width: 100%;
  border-radius: 10px 0 0 0;

}
.count_cart {
  width: 35%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.count_cart p {

  margin: 0;
  color: black;
  font-weight: normal;
}
.price_cart{
  text-align: center;
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.title_cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 18px;
  width: 35%;
  padding: 10px;

}
.season_cart {
  font-size: 14px;
  background: #ecd7ff;
  text-align: center;
}
.cart_table {
border-bottom: 1px solid #0d0d0e;
  display: flex;
  font-weight: bold;
}
.imageCart {
  width: 155px;
}

.productInfoCart {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.RemoveProductInCart {
  width: 12px;
  height: 12px;
  background: transparent;
  display: flex;


}
@media screen and (max-width: 767px)  {
  .cart_products {
    margin: 10px 0;
  }
  .productInfoCart {
    flex-direction: column;
  }
  .title_cart {
    width: 100%;
    padding:  10px 0;
  }
  .count_cart {
    width: 100%;
    padding: 10px 0;
  }
  .price_cart {
    width: 100%;
  }
}

