
.header-menu div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main_input {
    outline: none;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #202020;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    width: 100%;
    text-align: center;

}
.ten-proc-div {
    width: 15%;

}
.eighty-proc-div {
    width: 61%;
    padding: 0 5px;
    border: 2px solid #393939;
    background: #202020;
    border-radius: 10px;


}


@media screen and (max-width: 767px) {
    .ten-proc-div {
        width: 24%;

    }
    .eighty-proc-div {
        width: 45%;

    }
}