.product-border {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
}

.product-pictures {
  padding: 30px;
  max-width: 592px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.product-name h3 {
  FONT-SIZE: 1.3EM;
  margin: 0;
}
.product-name p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;

}
.product-name {
  flex-direction: column;
  align-items: flex-start;

}

.size-country td{
  font-weight: bold;
}
/* Стили для контейнера попапа */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Стили для самого попапа */
.popuptext {
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  width: 60%; /* Ширина попапа */
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #dedede;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-height: 80dvh;
  overflow: auto;
}
.popup-table,
.popup-table tbody {
  display: table;
  width: 100%;
}
.popup-table tbody td{

  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 10px;

}
.sizes-section {
  display: flex;
}


/* Показать попап при клике */
.show {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}


.padding10 {
  padding: 10px 0;
}

.main-photo {
  border-radius: 5px;
  width: 600px;
  height: 600px;
  object-position: center;
  object-fit: cover;
  float: left;
  /*
  animation: floatUpDown 6s ease-in-out infinite;
   */
}
/*
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }

} */


.main-photo img {
  max-height: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-images {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-images img {
  object-position: center;
  object-fit: cover;
  width: 100px;
  border-radius: 10px;
  margin: 5px 5px;
  height: 100px;
}

.product-info {
  width: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  justify-content: space-around;

}
.description {
  border: 1px solid #dedede;
  background-color: #c7c7c72e;
  border-radius: 10px;
  padding: 10px;


}
.sizes-form{
  border: 1px solid #dedede;
  padding: 10px;
  background-color: #c7c7c72e;
  border-radius: 10px;
  transition: 0.5s;

}
.sizes {
  justify-content: center;
  text-align: center;
  position: relative;

  flex-wrap: wrap;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;


}
.p15 {
  padding: 15px 0;
}

.DeliveryInfo div {
  width: 100%;
  border-bottom: 1px solid #bababa;
  padding: 8px;
  transition: 0.2s;
}
.DeliveryInfo div:hover{
  scale: 1.05;
  transition: 0.3s;
}
.DeliveryInfo{
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;

}
.DeliveryInfo span{
  display: flex;
}

.DeliveryInfoIco{
  width: 28px;
  height: 28px;
  margin-right: 10px;
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}
.DeliveryInfoIco:hover {
  opacity: 0.6;
  transition: 0.3s;

}

.size-guide {
  justify-content: space-between;
  padding: 5px 0;
}

.size-guide p {
  font-weight: bold; margin: 0;
}
.size-div {
  font-weight: bold;

  border-radius:5px;
  Box-shadow:0px 1px 0px #dedede,0px -1px 0px #dedede,1px 0px 0px #dedede,-1px 0px 0px #dedede;
  width: 100% ;
  cursor: pointer;
  transition: 0.2s;
}
.size-div:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
}

.buttons {
  display: flex;
  align-items: stretch;

}


.buttons button {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);
  cursor: pointer;
}

.buttons p {
  font-size: larger;
  color: rgb(235, 235, 235);
  font-weight: bold;
}

.button-buy {

  width: 100%
}

.button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  width: 30%;
}

.description {
  max-width: 470px;
}

button {
  transition: 0.2s;
}

.buy-add:hover {
  filter: invert(100%);
  transition: 0.3s;
}
.but_sec1 {
  width: 70%;
  margin-right: 5px;
}
.but_sec2 {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .gallery-images img {
    width: 56px;
    height: 56px;
  }
  .DeliveryInfoIco {
    width: 24px;
    height: 24px;
  }
  .main-photo {
    width: 320px;
    height: auto;
  }
  .add_to_favorite{
    width: 32px;
  }
}