.product-border {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: center;
}

.product-pictures {
  padding: 40px;
  max-width: 592px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-photo {
  border-radius: 5px;
  max-width: 100%;
  float: left;
}

.main-photo img {
  max-height: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-images {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-images img {
  max-width: 90px;
  max-height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin: 5px 5px;
}

.product-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
}

.product-size {
  max-width: 400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  transition: 0.5s;
}

.product-size p {
  border: 2px solid rgb(200, 200, 200);
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  min-width: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.product-size p:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
}

.buttons {
  padding-top: 15px;
}

.buttons button {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);
  cursor: pointer;
}

.buttons p {
  color: rgb(235, 235, 235);
}

.button-buy {
  padding: 0px 100px;
  width: -webkit-fill-available;
  margin-right: 5px;
  max-width: 70%;
}

.button-add {
  padding: 0px 35px;
  width: -webkit-fill-available;
  max-width: 27.2%;
}

.description {
  max-width: 400px;
}

button {
  transition: 0.2s;
}

.buy-add:hover {
  filter: invert(100%);
  transition: 0.3s;
}