html,
body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(246, 246, 246);
}
.content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar {
	display: none;
}

a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
	opacity: 1;
}

a:hover {
	opacity: 0.8;
	transition: 0.3s;
}

#header {
	transition: transform 0.3s ease;
	/* Добавляем плавную анимацию при изменении свойства */
}

.hide {
	transform: translateY(-100%);
}

header {
	width: 100%;
	background-color: #0d0d0e;
	color: #fff;
	z-index: 100;
}


header img {
	width: 100px;
	padding: 5px 0 0;
}

header a {
	font-size: large;
	color: white;
}

input {
	border: 3px solid white;
	border-radius: 5px;
	height: 25px;
}






main {
	flex: 1 1 auto;
	max-width: 80%;
	margin: 0 auto;
	top: 76px;

}

section {
	position: relative;
	top: 70px;
}

h2 {
	font-size: 24px;
	margin: 0 0 20px;
}

.account img {
	filter: invert(100%);
	height: 30px;
	width: auto;
}

.total img {
	filter: invert(100%);
	height: 30px;
	width: auto;

}

.header-menu-item:hover {
	position: relative;
}

.header-menu-item:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(https://i.gifer.com/ZVLJ.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: invert(100%);
	z-index: -1;
}


#logo {
	background-repeat: round;
	/*background-image: url(https://i.gifer.com/4NB4.gif);
	background-size: contain;*/
}



.header-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 90%;

	margin: 0 auto;
}


.header-menu-item {
	margin-right: 10px;
	
}


.category {
	padding-top: 30px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	border-radius: 10px;
	transition: 0.5s;
}

.category-item {
	flex: 1 0 250px;
	text-align: center;
	padding: 10px;
	background-color: rgb(247, 247, 247);
	border-radius: 5px;
	border: 1px solid rgb(175, 175, 175);
	transition: 0.5s;

}

.category-item:hover {
	filter: invert(100%);
	transition: 0.3s;
}

.category a {
	color: black;
	border-radius: 10px;
}

.category a:hover {
	position: relative;
}

.category a:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(https://i.gifer.com/ZVLJ.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: invert(100%);
	z-index: -1;
}

.products {
	padding-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-gap: 20px;
	margin-bottom: 100px;

}

.products a {
	color: black;

}

.product {
	transition: 0.2s;
}

.product_img:hover {
	transition: 0.3s;
	transform: scale(1.01);

}

.product_img{
	transition: 0.2ms;
}

.product img {
	transition: 0.3s;
	max-width: 100%;
}
.mb_price {
	right: 0;
	bottom: 0;
	position: fixed;

}
.add_to_favorite {
	filter: invert();
	top: 0;
	right: 0;
	width: 35px;
	height: auto;


}

.product h3 {
	text-align: center;
	margin: 12px 0;
}

.price {
	font-size: large;
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 0 0 10px 10px;
	background: #0d0d0e;
	margin: 10px 0;
	width: 100%;
}
.price-cart {
	background: white;
	filter: invert(1);

}
.price-add
{
	border-radius: 0 0 10px 0;
	background: white;
	filter: invert(1);
	width: 10%;
	padding: 0;
}
.product-fast-info {
	background-color: white;
	border-radius: 0 0 10px 10px;
}

.footer {
	margin-top: 40px;
	background: #0d0d0e;
	color: #fff;
	width: 100%;
	position: relative;
	z-index: 10;

}
#krest {
	right: 0;
	position: absolute;
	bottom: 0;
	width: 130px;
	filter: invert(1);
}
.help-link {
	flex-wrap: wrap;
	width: 30%;
	display: grid;
	grid-template-columns: 1fr;


}
.gap-ten{
	grid-gap: 10px;
	display: flex;
}
.flex p {
	margin: 10px 0;

}
.footer_less_space {
	width: 40%;
}
.footer_less_space img {

}
.ico-inst {
	position: relative;
	width: 32px;

}
.ico-pay {
	position: relative;
	width: 35px;
	filter: ;
}
.icon-container {
	width: 70px; /* Ширина контейнера */
	align-items: center;
	align-content: center;
	display: flex;
	overflow: hidden; /* Обрезание изображения, если оно не помещается */
}

.icon-container img {

	width: 100%; /* Заполнение контейнера по ширине */
	height: auto; /* Поддержание пропорций высоты */
	object-fit: contain; /* Сохранение пропорций и вписывание изображения в контейнер */
}

.footer-contect {
	display: flex;

	padding: 40px;
}
.flex {
	display: flex;
	align-content: center;
	align-items: center;
}

.scroll-to-top-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;

	color: #fff;
	font-size: 24px;
	border: none;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	z-index: 9999;
  }
  
  .scroll-to-top-button.show {
	opacity: 1;
	visibility: visible;
	  background-color: white;
  }
  
  .admin-but {
	margin-top: 5px;
	background-color: transparent;
	color: #fff;
	width: 100%;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
	transition: 0.2s;
  }
  .admin-but:hover {
	background-color: #000;
	transition: 0.2s;
  }

.accordion-header {
	cursor: pointer;
	transition: color 0.4s;
	text-align: center;
	text-decoration: underline ;

}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
}

.accordion.open .accordion-content {
	max-height: 200px; /* Подберите желаемую высоту */
}

.accordion *{
	color: white;
}
@media screen and (max-width: 991px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media screen and (max-width: 767px) {
	header img {
		width: 70px
	}
	.category a {

		width: 100%;
		max-height: 20px;
		color: black;
		border-radius: 10px;
	}
	.products {
		grid-template-columns: 1fr;
	}
}


.text-center{
	text-align: center;
}

.smaller {
	font-size: smaller;
}
.season {
	display: inline;
	padding: 5px 10px;
	color: #848484;
	background: #ecd7ff;
}
.hr {
	border-bottom: 1px solid #d2d2d7;
	margin: 5px 0;

}
  
  
  
  
  